.text-center {
    text-align: center;
}

.rating-box i {
    font-size: 30px;
}

.control textarea {
    width: 900px;
    height: 100px;
}

.star-full {
    color: yellow;
}

.rating-box i {
    cursor: pointer;
}

.is-broken {
    background-color: darkred;
    color: yellow;
}

.is-online {
    background-color: darkgreen;
    color: white;
}

.is-updated {
    background-color: darkgreen;
    color: orangered;
}

.is-new {
background-color: darkgreen;
    color: yellow;
}

.is-pending {
    background-color: orangered;
    color: white;
}

.margin-column{
    margin-bottom: 20px !important;
}

.is-block{
    display: block;
}
.is-center{
    margin: auto;
}

.filter-bar{
    margin-top: 20px;
    margin-bottom: 20px;
}
.filter-title{
    font-weight: bold;
}
#filtering{
    margin-bottom: 50px;
}